.channels {
    &__container {
    }

    &__content {
    }

    &__title {
    }

    &__slider {
    }

    &__item {
        height: 120px;
        flex: 0 0 260px;

        @include maxw-breakpoint($md3 + px) {
            flex: 0 0 240px;
            height: 115px;
        }
    }
}
