/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    padding: 20px;
    margin-right: 30px;
    margin-left: -20px;
    overflow: hidden;

    @include maxw-breakpoint($md3 + px) {
        margin: 0;
        padding: 20px 0 20px 0;
    }
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
    position: relative;

    @include maxw-breakpoint($md3 + px) {
        margin: 12px 0 0 0;
    }

    & .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        &.slick-prev {
            display: none;
            font-size: 0;
        }
        &.slick-next {
            right: 0;
            width: 25px;
            height: 25px;
            border-top: 4px solid $white;
            border-right: 4px solid $white;
            border-radius: 2px;
            transform-origin: center;
            transform: rotate(45deg);
            font-size: 0;
            background-color: transparent;
        }
    }

    &__item {
        cursor: pointer;
        border-radius: 30px;
        height: 310px;
        flex: 0 0 204px;
        overflow: hidden;
        transition: all 0.3s ease 0s;
        margin: 0 15px 0 15px;

        @include minw-breakpoint($md2 + px) {
            &:not(.actors__item):hover {
                transform: translate(-1px, -1px);
                box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
            }
        }
    }
}
