<footer class="footer">
    <div class="footer__container container">

        <div class="footer__content">
            <div class="footer__prew">
                <a href="#" class="footer__logo menu__logo">
                    <span class="menu__logo--m">M</span>
                    <span class="menu__logo--box">box</span>
                </a>
                <div class="footer__social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer__columns">
                <div class="footer__block">
                    <a href="#">Voice over and Subtitle</a>
                    <a href="#">Media Center</a>
                    <a href="#">Privacy</a>
                    <a href="#">Contact us</a>
                </div>
                <div class="footer__block">
                    <a href="#">Voice Description</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Legal Provisions</a>
                </div>
                <div class="footer__block">
                    <a href="#">Help Center</a>
                    <a href="#">Job Opportunities</a>
                    <a href="#">Cookies Preferences</a>
                </div>
                <div class="footer__block">
                    <a href="#">Gift Cards</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Corporate Informations</a>
                </div>
            </div>
        </div>

    </div>
</footer>