<header class="header">
    <div class="header__content container">

        <div class="header__menu menu">

            <a href="#" class="menu__logo">
                <span class="menu__logo--m">M</span>
                <span class="menu__logo--box">box</span>
            </a>

            <div class="menu__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div><!-- /menu__icon -->

            <nav class="menu__body">
                <ul class="menu__list">
                    <li><a href="#begin" class="menu__link">Home</a></li>
                    <li><a href="#shows" class="menu__link">TV Shows</a></li>
                    <li><a href="#movies" class="menu__link">Movies</a></li>
                    <li><a href="#genres" class="menu__link">Genres</a></li>
                    <li><a href="#channels" class="menu__link">Channels</a></li>
                    <li><a href="#actors" class="menu__link">Actors</a></li>
                </ul><!-- /menu__list -->

                <div class="menu__support--list support">
                    <a class="support__link">
                        <i class="fas fa-search"></i>
                    </a>
                    <a class="support__link">
                        <i class="far fa-bell"></i>
                    </a>
                    <a class="support__link">
                        <i class="fas fa-user"></i>
                    </a>
                </div>
            </nav><!-- /menu__body -->

        </div><!-- /header__menu -->
    </div><!-- /header__content -->
</header><!-- /header  -->